html {
  background: rgb(168, 168, 168)  center center;
  background-size: cover;
  text-align: center;
  font-size: 10px;
}
body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}
.clock {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  margin: 50px auto;
  position: fixed;
  top: -5%;
  left: 39%;
  padding: 2rem;
}
.clock-face {
  border-radius: 50%;
  background: url(assets/face.png) center center;
  background-size: 425px 425px;
  background-repeat: no-repeat;
  position: fixed;
  top: -15%;
  left: 1%;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}
.hand {
  width: 13%;
  height: 4px;
  background: black;
  position: fixed;
  top: 50%;
  left: 37%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.chest {
  background: url(assets/chest.png) top center;
  background-size: 450px;
  background-repeat: no-repeat;
  background-color: #ffffff;
  width: 50vw;
  height: 55vh;
  padding: 50px;
  border-radius: 50%;
  border: solid 10px #ffffff;
  position: fixed;
  bottom: -45%;
  left: 20%;
}